includes:
	- %currentWorkingDirectory%/tests/phpstan/phpstan.neon

parameters:
  ignoreErrors:
    - '#Parameter \#1 \$id of class Image constructor expects null, int given#'
    - '#Parameter \#1 \$share of static method ShopCore::addSqlRestriction\(\) expects int, false given.#'
    - '#Parameter \#1 \$share of static method ShopCore::addSqlRestriction\(\) expects int, string given.#'
    - '#Parameter \#1 \$variable of method ModuleCore::getPermission\(\) expects array, string given.#'
